In [4]:
library(tesseract)
eng <- tesseract("eng")
text <- tesseract::ocr("https://raw.githubusercontent.com/LorenzoNegri/OCR-Experiments/master/Data/data_scan_01.png", 
                       engine = eng)
cat(text)

19/06/2017 44,46
20/06/2017 43,9
21/06/2017 43,14
22/06/2017 42,58
23/06/2017 43,02
26/06/2017 43,14
27/06/2017 44,23
28/06/2017 44,48
29/06/2017 45,36
30/06/2017 45,63

In [116]:
# ----- Create DATA FRAME from text ------
# start by manipulating text if needed, like in this example: "," to "."
string <- gsub(",", ".", text)

# we need to make some splitting of the text and then convert to data frame
mx <- strsplit(do.call(cbind, strsplit(string,'\n')), " ")
# to avoid columns to factor, add a parameter: stringsAsFactors=FALSE
df <- data.frame(matrix(unlist(mx), nrow=length(mx), byrow=T), stringsAsFactors=FALSE)

# Giving names and assigning coulumn type to data frame
names(df) = c("Date", "Price")
# converting date format from "%d/%m/%Y" to R standard
df$Date <- as.Date(df$Date, "%d/%m/%Y")
df$Price <- as.numeric(df$Price)
df

   Date       Price
1  2017-06-19 44.46
2  2017-06-20 43.90
3  2017-06-21 43.14
4  2017-06-22 42.58
5  2017-06-23 43.02
6  2017-06-26 43.14
7  2017-06-27 44.23
8  2017-06-28 44.48
9  2017-06-29 45.36
10 2017-06-30 45.63